/* Import cool fonts, Lato one of the most commonly used */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Oswald&display=swap');

body{
    font-family:"Raleway", sans-serif;   
    border: 1px solid black;
    min-height: 100vh; 
    margin: 0;   
    display: grid;
    grid-template-rows: auto 1fr auto;    
}


/* Style the header */
header {
    width: auto;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: lightslategrey;        
}

#myHeader {
    margin-bottom: 5px;    
}


#myHeader h1 {
    font-size: 2rem;  /* header stand out */
    font-family: "Raleway",sans-serif;
}

/* style the footer , plan for responsiveness */

footer{
    position: relative;  
    bottom: 0; 
    background: #111;
    height: auto;    
    color: #fff;
}
#myfooter h3 {
    font-size: 1rem;
    text-align: center;
}
#myfooter p {
    font-size: 0.8rem;
    text-align: center;
}


#feedback {
    display: flex;
    justify-content: center;
    background-color: #92A8D1;    
}
#feedback img {
    width:150px;
    height:150px;
    object-fit: cover;
    padding-top: 0.5rem;    
    }

    .myPlayer {        
        justify-content: center;
        padding:2%;
    }
    .myComputer {           
        justify-content: center;
        padding:2%;
    }

#game-heading{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 10px;
}

#game-heading > h2 {
    text-align: center;  
    color: lawngreen;
    font-size: 2rem;
    font-weight: 900;       
}

#player-choice{
    display: flex;
    width: 40%;
    margin:auto;        
    justify-content: space-between;
   
}
#player-choice button{
    align-items: center;   
    font-family: "Raleway", sans-serif;
    font-size: 1em;
    height:3em ;
    border-radius: 10px;
}
#player-choice button:hover:not([disabled]){
    background-color: blue;
    color: white;    
}
#refresh-game{
    font-size: 1em;
    height:3em ;
    border-radius: 10px;
    }
#refresh-game:hover:not([disabled]){
    background-color: blue;
    color: white;    
}

#player-score {
    font-size: 3rem;
    color:blue;
}
#system-score {
    font-size: 3rem;
    color:red;
}
#game-message {
   
    height: 3rem;
    width:100%;
    justify-content: center;
    text-align: center;
    vertical-align: middle;
}
#game-message p {
    font-size: 1.5rem;
    color: black;
    font-family:"Raleway",sans-serif; 
}
#game-tracker {
   
    height: auto;
    width:100%;
    text-align: center;
    margin-bottom: 10px;   
}
#game-tracker p {
   
    font-size: 1.5rem;
    color: goldenrod;
    font-family:"Raleway",sans-serif; 
}

@media (max-width: 414px) {
    #player-choice {
        width: 100%;
        justify-content:space-evenly;
    }
    #game-heading h2 {
        font-size: 1.5rem;
        text-align: center;        
    }
    #myHeader h1 {
        text-align: center;
        font-size: 2rem;
        
    }
    #myfooter h3 {
        font-size: 1rem;
        text-align: center;
    }
    #myfooter p {
        font-size: 0.8rem;
        text-align: left;
        padding-left: 5px;
    }
    
}
